<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">
			{{device.name}}
		</h2>
	</div>
	<div class="panel-body">
		<div class="col-md-12 text-left">
			
			<label><strong>Unique ID: &nbsp;</strong></label>{{device.id}}
			<br/>
			<label><strong>Description: &nbsp;</strong></label>{{device.description}}
			<br/>
			<label id="value"><strong>Value: &nbsp;</strong></label>{{device.value}}
			<br/>
			<label><strong>Sensor Type:&nbsp;</strong></label><a class="{{device.type}}">{{device.type}}</a>			            	
		</div>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-8">
				Added:
				<em class="text-muted">{{ timeago device.timestamp}}</em>
				&nbsp;
				Last Updated:
				<em class="text-muted">{{timeago device.updatetime}}</em>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-8">
				<strong class="panel-title">Details</strong>
			</div>
			<div class="clo-md-4 text-right">
				<button class="btn btn-default btn-sm" id="btn-details" data-id="{{image.uniqueId}}">
				<i class="fa fa-cog" aria-hidden="true"></i> Settings
				</button>
			</div>
		</div>
		<div class="panel-body">

			<div id="device-details">
				<form method="post" action="/devices/{{device.id}}/geolocation" enctype="application/x-www-form-urlencoded">	
					<label>Lattitude:&nbsp;</label>
                                      		<input type="text" name="lat" value="{{device.geolocation.latitude}}" id="lat"></input>&nbsp;
	                                <label>Longitude:&nbsp;</label>
        	                              	<input type="text" value="{{device.geolocation.longitude}}" name="lon" id="lon"></input>
                                
					<div class="col-mid-12 text-right">
							<button type="submit" id="geoSave-btn" class="btn btn-success">Save Changes</button>
					</div>
				</form>

				<form method="post" action="/devices/{{device.id}}/delete">
                			<div class="panel-body form-horizontal">
							<div class="form-group col-md-12">
                                        				<button type="submit" id="login-btn"
                                                				class="btn btn-danger" type="button">
                                                			<i class="fa fa-trash" aria-hidden="true">
                                                			</i> Delete</button>
							</div>
                        		</div>
					
				</form>
				</br>
				<div id="sam"></div>
				
				<script type="text/javascript">
					var points = Array({{device.data}});
					console.log(points);

//////////////////////////////////////////////** D3 Code **//////////////////////////////////////////////////////////////

	var point = [{x: 0,y: 100},{x: 10, y: 110},{x: 20, y: 140},{x: 30, y:130},{x:40, y:80},{x:50, y:75},{x:60, y:78},
			{x:70, y:120},{x:80, y:160}, {x:90, y:100}];
	var yMax = 0 , xMax = 0;
	var ax = [];
	var ay = [];
	points.forEach(function(d,i)
	{
		ax[i] = d.x;
		ay[i] = d.y;
	});
	xMax = d3.max(ax);
	yMax = d3.max(ay);

	//Axes Range defining
	var xLowLim = 0;
	var xUpLim = xMax;
	var yLowLim = 0.8 * d3.min(ay);
	var yUpLim = 1.2 * yMax;
	console.log(xMax);
	console.log(yMax);
	var h = 300,
		w = 500,
		margin_x = 32,
		margin_y = 20;
	var scale = d3.scale.linear().domain([0,5]).range([0,255]);
	var y = d3.scale.linear().domain([yLowLim, yUpLim]).range([0 + margin_y, h - margin_y]);
	var x = d3.scale.linear().domain([xLowLim, xUpLim]).range([0 + margin_x, w - margin_x]);
	
	var svg = d3.select("#sam")
			.append("svg:svg")
			.attr("width",w)
			.attr("height",h);
	var g = svg.append("svg:g").attr("transform","translate(0,"+h+")");
	var line = d3.svg.line()
			.x(function(d){return x(d.x);})
			.y(function(d) {return -y(d.y);});
	//g.append("svg:path").attr("d", line(points));
	
	//X-Y lines
	g.append("svg:line")
		.attr("x1",x(xLowLim))
		.attr("y1",-y(yLowLim))
		.attr("x2",1.2 * x(xUpLim))
		.attr("y2",-y(yLowLim));
	g.append("svg:line")
		.attr("x1", x(xLowLim))
		.attr("y1",-y(yLowLim))
		.attr("x2",x(xLowLim))
		.attr("y2",-1.2 * y(yUpLim));

	//Giving the labels of X-Y axis
	g.selectAll(".xLabel")
		.data(x.ticks(10))
		.enter().append("svg:text")
		.attr("class", "xLabel")
		.text(String)
		.attr("x",function(d)
			{	return x(d)})
		.attr("y",0);
	g.selectAll(".yLabel")
		.data(y.ticks(5))
		.enter().append("svg:text")
		.attr("class","yLabel")
		.text(String)
		.attr("x",25)
		.attr("y",function(d){ return -y(d)});

	//Draw ticks 
	g.selectAll(".xTicks")
		.data(x.ticks(10))
		.enter().append("svg:line")
		.attr("class","xTicks")
		.attr("x1",function(d){ return x(d); })
		.attr("y1", -y(yLowLim))
		.attr("x2",function(d){return x(d);})
		.attr("y2",-y(yLowLim)-5);
	g.selectAll(".yTicks")
		.data(y.ticks(5))
		.enter().append("svg:line")
		.attr("class","yTicks")
		.attr("y1",function(d) {return -y(d);})
		.attr("x1",x(xLowLim))
		.attr("y2", function(d){ return -y(d);})
		.attr("x2", x(xLowLim)+5);

	//Drawing the grids
	g.selectAll(".xGrids")
		.data(x.ticks(10))
		.enter().append("svg:line")
		.attr("class","xGrids")
		.attr("x1", function(d) { return x(d);})
		.attr("y1", -y(yLowLim))
		.attr("x2", function(d){return x(d);})
		.attr("y2", -y(yUpLim)-10);
	
	g.selectAll(".yGrids")
		.data(y.ticks(5))
		.enter().append("svg:line")
		.attr("class","yGrids")
		.attr("y1", function(d){ return -y(d); })
		.attr("x1", x(xUpLim)+20)
		.attr("y2", function(d) { return -y(d); })
		.attr("x2", x(xLowLim));
	//Drwaing the Arrows
	g.append("svg:path")
		.attr("class", "axisArrow")
		.attr("d", function(){
				var x1 = x(xUpLim) + 23, x2 = x(xUpLim) + 30;
				var y2 = -y(yLowLim), y1 = y2-3, y3 = y2+3;
				return 'M'+x1+','+y1+','+x2+','+y2+','+x1+','+y3;
		});
	g.append("svg:path")
		.attr("class","axisArrow")
		.attr("d", function(){
				var x2 = x(xLowLim), x1 = x2-3, x3 = x2+3;
				var y1 = -y(yUpLim)-13, y2 = -y(yUpLim)-20;
				return 'M'+x1+','+y1+','+x2+','+y2+','+x3+','+y1;
		});
	//Adding the text and title
	g.append("svg:text")
		.attr("x", (w/2))
		.attr("y",-h + margin_y)
		.attr("text-anchor", "middle")
		.style("font-size", "22px")
		.text("Line Chart");
	g.append("svg:text")
		.attr("x", 25)
		.attr("y", -h + margin_y)
		.attr("text-anchor", "end")
		.style("font-size","11px")
		.text("[#]");
	g.append("svg:text")
		.attr("x", w - 40)
		.attr("y", -8)
		.attr("text-anchor","end")
		.style("font-size", "11px")
		.text("Time [s]");
	//Drwaing the data lines
	g.append("svg:path").attr("d", line(points));
	g.selectAll(".dot")
		.data(points)
		.enter().append("circle")
		.attr("class","dot")
		.attr("r",3.5)
		.attr("cx", function(d){ return x(d.x);})
		.attr("cy", function(d){ return -y(d.y);});
	console.log(Math.round(scale(2.7)));

	
	



//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
				</script>
                 </div>
		
		 <h3>Sensor Location</h3>
    			<div id="map"></div>
    				<script>
      					function initMap() {
						var latti= Number(document.getElementById('lat').value);
						var long= Number(document.getElementById('lon').value);
						console.log(latti.value);
					        var uluru = {lat:latti, lng: long};
					        var map = new google.maps.Map(document.getElementById('map'), {
						          zoom: 15,
						          center: uluru,
							  zoomControl: false,
      							  scaleControl: false,
							  streetViewControl: false,
							  rotateControl: false,
							  fullscreenControl: false,
							gestureHandling: 'none'
							
				
					        });
					        var marker = new google.maps.Marker({
					          position: uluru,
					          map: map
					        });
					      }
				    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaIgbzNwqEB_-3sbLifDj2RmkrDhL2UGI&callback=initMap" async defer>
    </script>
		</div>
	</div>
</div>
				
					
